html {
  font-size: 62.5%; //10px
  scroll-behavior: smooth;
  @media screen and (min-width: 1400px) {
    font-size: 68.5%;
  }
}

body {
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
}
