// BUTTONS
.btn {
  padding: 0.5rem 1rem;
  border: 2px solid $font-orange-color;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  &--white {
  }
  &__link {
    font-size: 1.4rem;
    color: $font-basic-color;
    text-decoration: none;
  }
  &:hover {
    background: $font-orange-color;
    box-shadow: $box-shadow-grey;
  }
  &:focus {
    transform: scale(1.05);
  }
}

.calculatorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  @media screen and (min-width: 676px) {
    padding: 6rem;
  }
  @media screen and (min-width: 992px) {
    padding: 6rem 10rem;
  }
  @media screen and (min-width: 1400px) {
    padding: 6rem 14rem;
    justify-content: center;
  }
}

.calculatorHeading {
  font-size: 2.6rem;
  text-transform: uppercase;
  @media screen and (min-width: 992px) {
    font-size: 3rem;
  }
}

.calculator__img {
  width: 50%;
  @media screen and (min-width: 688px) {
    width: 60%;
  }
  @media screen and (min-width: 992px) {
    width: 40%;
  }
  @media screen and (min-width: 1400px) {
    width: 30%;
  }
}

.cta {
  display: block;
  padding: 6rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  &--orange {
    color: $font-orange-color;
  }
}

// CALCULATOR COMPONENTS
.calculatorMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  @media screen and (min-width: 576px) {
    padding: 6rem;
  }
}

.aboutCalculator {
  @media screen and (min-width: 992px) {
    padding: 0 8rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 16rem;
  }
  @media screen and (min-width: 1400px) {
    width: 70%;
  }
  &__title {
    margin: 2rem 0;
    color: $font-orange-color;
    font-size: 1.8rem;
  }
  &__text {
    font-size: 1.4rem;
  }
}

.calculator__submit {
  padding: 0.8rem 2rem;
  margin: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: $font-orange-color;
  color: $font-white-color;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(0.95);
    box-shadow: $box-shadow-grey;
  }
  &:focus {
    transform: scale(1);
  }
}

.calculatorInfo {
  &__hints {
    margin-top: 6rem;
    padding: 2rem;
    box-shadow: $box-shadow-grey;
    @media screen and (min-width: 992px) {
      margin: 0 2rem;
      width: 40%;
    }

    &-text {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    &-title {
      font-size: 1.8rem;
      margin: 1rem 0 2rem;
      text-align: center;
      color: $font-orange-color;
      text-transform: uppercase;
    }
  }
}
