// MEDIA QUERIES

$x-small-width: 478px;
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1200px;
$extra-extra-width: 1400px;

@mixin x-small {
  @media (min-width: $x-small-width) {
    @content;
  }
}
@mixin small {
  @media (min-width: $small-width) {
    @content;
  }
}
@mixin medium {
  @media (min-width: $medium-width) {
    @content;
  }
}
@mixin large {
  @media (min-width: $large-width) {
    @content;
  }
}
@mixin extra-large {
  @media (min-width: $extra-large-width) {
    @content;
  }
}
@mixin x-x-large {
  @media (min-width: $extra-extra-width) {
    @content;
  }
}
