.pageHeading {
  font-weight: 400;
  font-size: 2.6rem;
  margin-bottom: 4rem;
  color: $font-basic-color;
  text-transform: uppercase;
}

.fa-check-circle {
  font-size: 2rem;
  padding: 1rem;
  color: $font-orange-color;

  @include extra-large {
    font-size: 3rem;
  }
}

.aboutTitle {
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include extra-large {
    font-size: 2.5rem;
  }
}
