// CALCULATOR BMI STYLES

.calculatorBMIWrapper {
  width: 32rem;
  margin: 6rem 0;
  padding: 2rem;
  box-shadow: $box-shadow-grey;
  @include small {
    width: 38rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.calculatorBMI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;

  &__group {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1rem 0;
  }

  &__label {
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  &__input {
    padding: 0.5rem;
  }
}

.resultsBMI {
  display: none;
  text-align: center;
  &__assessment {
    font-size: 1.6rem;
    font-weight: 700;
  }
  &__text {
    margin: 1rem;
    font-size: 1.4rem;
    font-style: 1.6rem;
  }
}

#errorMessageBMI {
  display: none;
  font-size: 1.4rem;
  text-align: center;
  color: red;
}

#resultsBMI__output {
  font-size: 1.6rem;
  font-weight: 700;
}

.infoBMI {
  display: flex;
  flex-direction: column;
  @include small {
    padding: 4rem;
  }

  @include medium {
    padding: 6rem 8rem;
  }

  @include large {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }

  @include x-x-x-large {
    padding: 6rem 10rem;
  }

  &__table {
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: $box-shadow-grey;
    @include large {
      margin: 0 2rem;
      width: 60%;
    }
  }

  &__cell {
    padding: 0.5rem;
    &--head {
      padding: 2rem;
      color: $font-orange-color;
    }
  }
}
