// FOOTER

.footer {
  margin-top: 10rem;
  padding: 4rem;
  background: #211d16;
  background-size: cover;
  background-position: center;
  @include small {
    padding: 6rem;
  }
  &__container {
    @include x-x-large {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
  &__about {
    color: $font-white-color;
  }
  &__logo {
    font-size: 3rem;
    color: $secondary-color;
    @include x-x-large {
      margin-top: 2rem;
    }
  }
  &__title {
    margin: 2rem 0;
    font-size: 2rem;
    color: $secondary-color;
  }
  &__text {
    margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    @include small {
      padding-right: 6rem;
      font-size: 1.4rem;
    }
    @include large {
      width: 60%;
    }
    @include x-x-large {
      width: 100%;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    @include large {
      margin: 5rem 0;
      justify-content: start;
    }
    &-icon {
      margin: 0 1rem;
      font-size: 3rem;
      color: $secondary-color;
      transition: color 0.3s;
      &:hover {
        color: rgba($secondary-color, 0.8);
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2rem;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: $font-white-color;
    transition: color 0.3s;
    &:hover,
    &:focus {
      color: $font-white-color;
    }
  }
  &__mail {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $font-white-color;
    .fas {
      color: $secondary-color;
    }
  }

  &__policy {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2rem;
    @include x-x-large {
      margin: 12rem 0 0;
    }
    .fas {
      margin-right: 0.5rem;
      color: $secondary-color;
    }
  }
  &__cookies,
  &__privatePolicy {
    text-decoration: none;
    color: $font-white-color;
  }

  &__copyrights {
    padding: 1rem;
    color: $secondary-color;
    background-color: $dark-color;
    @include x-x-large {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__copy {
    margin-bottom: 0.5rem;
  }
}
