<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O nas | EatSmart</title>
    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
        $('#includedFooter').load('/public/templates/footer.html');
      });
    </script>
  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <div id="includedNavigation"></div>
    <!-- PAGE ABOUT -->
    <header class="aboutHeader">
      <div class="aboutHeader__content">
        <h1 class="pageHeading">O nas</h1>
        <p class="aboutHeader__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla in fuga distinctio. Earum
          ipsa at laboriosam voluptatum vitae voluptatibus iste perferendis dignissimos. Debitis
          vero cupiditate minus quidem mollitia repudiandae maiores!
        </p>
        <button class="btn btn">
          <a href="#aboutUs" class="btn__link">Cztaj więcej</a>
        </button>
      </div>
      <div class="aboutHeader__images">
        <img
          src="/public/img/about-plate-1.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--1"
        />
        <img
          src="/public/img/about-plate-2.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--2"
        />
        <img
          src="/public/img/about-plate-3.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--3"
        />
      </div>
      <button id="aboutHeaderArrowDown" class="arrowDown aboutHeader__arrowDown">
        <span class="fas fa-chevron-down"></span>
      </button>
    </header>
    <main class="aboutMain">
      <section class="aboutDiet" id="aboutDiet">
        <h2 class="aboutDiet__title aboutTitle">Zdrowa dieta zapewnia:</h2>
        <div class="aboutDiet__content">
          <img
            src="/public/img/about-workout.svg"
            alt="osoby uprawiające sport na świerzym powietrzu"
            class="aboutDiet__img aboutDiet__img--1"
          />
          <p class="aboutDiet__text aboutDiet__text--1">
            <span class="fas fa-check-circle"></span>Lepszą kondycje całego organizmu
          </p>
          <img
            src="/public/img/about-medicine.svg"
            alt="osoby uprawiające sport na świerzym powietrzu"
            class="aboutDiet__img aboutDiet__img--2"
          />
          <p class="aboutDiet__text aboutDiet__text--2">
            <span class="fas fa-check-circle"></span>
            Ochronę przed nowotworami i innymi chorobami
          </p>
        </div>
      </section>
      <section class="aboutInfo" id="aboutUs">
        <div class="aboutInfo__content">
          <div class="aboutInfo__piece aboutInfo__piece--1">
            <h3 class="aboutInfo__piece-title">Kim jesteśmy?</h3>
            <p class="aboutInfo__piece-text">
              Jesteśmy grupą nastolatków, którzy w ramach projektu “Zwolnieni z teorii” postanowili
              pokazać innym, że zdrowe posiłki mogą być ciekawe, smaczne oraz łatwe i szybkie do
              przygotowania. Dostrzegliśmy, że wiele z nas nadal nie jest świadomych swoich złych
              nawyków żywieniowych i postanowiliśmy to zmienić. Na naszej stronie znajdziecie
              przepisy na dietetyczne posiłki i informację dotyczące zdrowia.
            </p>
          </div>
          <div class="aboutInfo__piece aboutInfo__piece--2">
            <h3 class="aboutInfo__piece-title">Jaki jest nasz cel?</h3>
            <p class="aboutInfo__piece-text">
              Projekt "EatSmart" ma na celu promowanie zdrowego trybu życia. Chcemy uświadomić
              ludzi, jak ważna jest wiedza na temat tego, co jemy i jakie korzyści może przynieść
              zmiana nawyków. Na naszej stronie znajdziecie przepisy na zdrowe dania, informacje
              dotyczące zdrowego odżywiania oraz jak złe nawyki mogą wpłynąć na nasze samopoczucie.
              Chcemy zachęcić ludzi do zmiany nawyków i udowodnić im, że prowadzenie zdrowego trybu
              życia jest łatwe i bardzo potrzebne.
            </p>
          </div>
          <div class="aboutInfo__shadow"></div>
        </div>
      </section>
      <section class="aboutFaq">
        <h2 class="aboutFaq__title aboutTitle">FAQ</h2>
        <div class="faq">
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
        </div>
      </section>
      <section class="aboutPartners">
        <h2 class="aboutPartners__title aboutTitle">Nasi partnerzy</h2>
        <div class="aboutPartenrs__container"></div>
      </section>
    </main>
    <!-- FOOTER -->
    <div id="includedFooter"></div>
    <button class="goUpBtn">
      <a href="#" class="goUpBtn__link"><span class="fas fa-chevron-up goUpBtn__icon"></span></a>
    </button>
    <script src="/public/js/about.js"></script>
    <script src="/public/js/upBtn.js"></script>
  </body>
</html>
