<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Artykuł na temat zdrowego odżywiania - Smakuj Zdrowo">
    <title>Artykuł na temat zdrowego odżywiania - Smakuj Zdrowo</title>
    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
  
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
        $('#includedFooter').load('/public/templates/footer.html');
        $('#includedCookiesPopup').load('/public/templates/cookiesPopup.html');
      });
    </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215958829-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-215958829-1');
      </script>
  </head>
  <body>
    <div id="includedNavigation"></div>

    <div id="includedCookiesPopup"></div>
    <!-- Page -->
    <header class="headerArticle">
      <img src="" alt="Artykuł" class="headerArticle__img" />
      <div class="headerArticle__shadow"></div>
      <h1 class="headerArticle__heading pageHeading">Jak zbilansować swoją dietę?</h1>
    </header>
    <main class="mainArticle">
      <section class="mainArticle__section">
        <div class="mainArticle__data">
          <p class="mainArticle__date"></p>
          <p class="mainArticle__author">
            Autor:
            <span class="mainArticle__author-name"></span>
          </p>
        </div>
        <div class="mainArticle__container">
        </div>
      </section>
      
    </main>
    <!-- FOOTER -->
    <div id="includedFooter"></div>
    <script src="/public/js/articlePage.js"></script>
  </body>
</html>
