<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalkulator BMR | EatSmart</title>
    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
      });
    </script>
  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <div id="includedNavigation"></div>
    <!-- PAGE -->
    <header class="calculatorHeader">
      <h1 class="calculatorHeading">Kalkulator BMR</h1>
      <img
        src="/public/img/calculator.svg"
        alt="Obrazek przedstawiający kalkulator i obsługującego go mężczyznę."
        class="calculator__img"
      />
    </header>
    <main class="calculatorMain">
      <section class="aboutBMR aboutCalculator">
        <h3 class="aboutBMR__title aboutCalculator__title">Czym jest BMR?</h3>
        <p class="aboutBMR__text aboutCalculator__text">
          BMR (ang. Basal Metabolic Rate), czyli wskaźnik podstawowej przemiany materii jest to
          liczba kalorii potrzebna Twojemu organizmowi do zachowania podstawowych funkcji organizmu.
          Wskaźnik BMR jest bardzo przydatny w planowaniu żywienia. Wartość kalorii, którą
          otrzymujemy podczas wyliczenia przez kalkulator BMR, określamy zapotrzebowanie kaloryczne
          dla naszego organizmu, które pozwala na utrzymanie równowagi.
        </p>
      </section>

      <div class="calculatorBMRWrapper">
        <h2 class="calculatorBMRWrapper__title">Oblicz swój wskaźnik BMR:</h2>
        <form class="calculatorBMR">
          <div class="calculatorBMR__group">
            <label for="age" class="calculatorBMR__label">Płeć:</label>
            <label for="male" class="calculatorBMR__label--gender">
              <input
                class="calculatorBMR__radio"
                type="radio"
                name="gender"
                id="male"
                value="male"
              />
              <div class="calculatorBMR__radio--show"></div>
              Mężczyzna
            </label>

            <label for="female" class="calculatorBMR__label--gender">
              <input
                class="calculatorBMR__radio"
                type="radio"
                name="gender"
                id="female"
                value="female"
              />
              <div class="calculatorBMR__radio--show"></div>
              Kobieta
            </label>
          </div>
          <div class="calculatorBMR__group">
            <label for="age" class="calculatorBMR__label">Wiek:</label>
            <input
              type="number"
              class="calculatorBMR__input"
              id="age"
              required
              placeholder="Wpisz swój wiek..."
            />
          </div>
          <div class="calculatorBMR__group">
            <label for="weight" class="calculatorBMR__label">Waga(kg):</label>
            <input
              type="number"
              class="calculatorBMR__input"
              id="weight"
              required
              placeholder="Wpisz swoją wagę(kg)"
            />
          </div>
          <div class="calculatorBMR__group">
            <label for="height" class="calculatorBMR__label">Wzrost(cm):</label>
            <input
              type="number"
              class="calculatorBMR__input"
              id="height"
              required
              placeholder="Wpisz swój wzrost(cm)"
            />
          </div>
          <div class="calculatorBMR__group">
            <label for="physicalActivity" class="calculatorBMR__label">Poziom aktywności:</label>
            <select class="calculatorBMR__select" name="" id="selectBMR">
              <option value="0" class="calculatorBMR__select-option">Prawie brak</option>
              <option value="1" class="calculatorBMR__select-option">Lekka aktywność</option>
              <option value="2" class="calculatorBMR__select-option">Umiarkowana aktywność</option>
              <option value="3" class="calculatorBMR__select-option">Duża aktywność</option>
              <option value="4" class="calculatorBMR__select-option">Bardzo duża aktywność</option>
            </select>
          </div>
          <input type="submit" class="calculator__submit calculatorBMR__submit" value="Oblicz" />
        </form>
        <p id="errorMessageBMR">Uzupełnij poprawnie wszystkie pola!</p>
        <div class="resultsBMR">
          <p class="resultsBMR__metabolism">Twoja podstawowa przemiana materii wynosi:</p>
          <span class="resultsBMR__metabolism-output">1700 kcal</span>
          <p class="resultsBMR__daily">Twoja dzienne zapotzrzebowanie kaloryczne wynosi:</p>
          <span class="resultsBMR__daily-output">2100 kcal</span>
        </div>
      </div>
      <div class="calculatorInfo__hints bmr__hints">
        <h3 class="calculatorInfo__hints-title">Pamiętaj</h3>
        <p class="calculatorInfo__hints-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus amet inventore
          beatae illo enim nesciunt, perspiciatis praesentium nisi aut dolorem aliquam nulla quas
          nam vero iure obcaecati atque maxime quidem? Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Voluptatibus amet inventore beatae illo enim nesciunt, perspiciatis
          praesentium nisi aut dolorem aliquam nulla quas nam vero iure obcaecati atque maxime
          quidem?
        </p>
      </div>
      <a href="/calculatorBMI" class="cta cta--orange">Policz też swoje BMI</a>
    </main>
    <script src="/public/js/calculatorBMR.js"></script>
  </body>
</html>
