<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Przepis na danie - Smakuj Zdrowo" />
    <title>Przepis na danie - Smakuj Zdrowo</title>
    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
        $('#includedFooter').load('/public/templates/footer.html');
        $('#includedCookiesPopup').load('/public/templates/cookiesPopup.html');
      });
    </script>
  </head>
  <body>
    <div id="includedNavigation"></div>

    <div id="includedCookiesPopup"></div>
    <!-- PAGE -->
    <header class="headerDish">
      <img src="" alt="" class="headerDish__img" />
      <div class="headerDish__container">
        <h1 class="headerDish__title">Przykład Dania</h1>
        <div class="headerDish__params">
          <p class="headerDish__time">
            <span class="far fa-clock headerDish__time-icon"></span>15min
          </p>
          <p class="headerDish__difficulty">łatwe</p>
          <!-- <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button> -->
        </div>
      </div>
    </header>
    <main class="mainDish">
      <section class="mainDish__ingredients">
        <h3 class="mainDish__heading">Składniki:</h3>
        <table class="ingredientsTable">
          <!-- <tr class="ingredientsTable__row">
            <td class="ingredientsTable__cell">pomidor</td>
            <td class="ingredientsTable__cell">2 sztuki</td>
          </tr>
          <tr class="ingredientsTable__row">
            <td class="ingredientsTable__cell">ogórek</td>
            <td class="ingredientsTable__cell">1 sztuki</td>
          </tr>
          <tr class="ingredientsTable__row">
            <td class="ingredientsTable__cell">jogurt</td>
            <td class="ingredientsTable__cell">2 łyżeczki</td>
          </tr>
          <tr class="ingredientsTable__row">
            <td class="ingredientsTable__cell">oliwki</td>
            <td class="ingredientsTable__cell">6 sztuk</td>
          </tr>
          <tr class="ingredientsTable__row">
            <td class="ingredientsTable__cell">oliwa z oliwek</td>
            <td class="ingredientsTable__cell">2 łyżki</td>
          </tr> -->
        </table>
      </section>
      <section class="mainDish__nutrition nutrition">
        <h3 class="mainDish__heading nutrition__heading">Wartość odżywcza:</h3>
        <p class="nutrition__kcal">ok. 500 kcal</p>
        <div class="nutrition__params">
          <p class="nutrition__carbohydrates">
            W: <span class="nutrition__carbohydrates-quantity nutrition__quantity">50g</span>
          </p>
          <p class="nutrition__protein">
            B: <span class="nutrition__protein-quantity nutrition__quantity">14g</span>
          </p>
          <p class="nutrition__fat">
            T: <span class="nutrition__fat-quantity nutrition__quantity">50g</span>
          </p>
        </div>
      </section>
      <section class="mainDish__preparation preparation">
        <h3 class="mainDish__heading preparation__heading">Przygotowanie:</h3>
        <!-- prettier-ignore -->
        <p class="preparation__text">
          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Tempora incidunt optio minus,
          corrupti aspernatur, tenetur 
            <br><br>
          vel maxime reprehenderit sapiente voluptatem atque
          consectetur iure exercitationem laudantium excepturi libero nesciunt nobis laborum minima
          rem maiores unde fuga architecto? Reiciendis molestiae debitis ab est rerum nihil, quod
          delectus sed ipsa eveniet facilis beatae fugiat consequatur vero in? 
          Reprehenderit
          possimus distinctio amet ducimus molestiae dolorum tenetur rem consequatur earum. 
          <br><br>
          Libero impedit eum fuga iusto molestiae tempore architecto officia sit, quam reprehenderit
          voluptate eligendi eius quidem. Optio exercitationem ex possimus assumenda sed eius? Error
          eveniet maiores molestias sint maxime. A tempore non maxime eius quasi? -->
        </p>
        <strong class="preparation__strong">Smacznego!</strong>
      </section>

      <section class="sliderSection" style="max-width: 100%; box-sizing: border-box">
        <div class="slick" style="width: 200px">
          <div class="slide">
            <img src="/public/img/about-plate-1.jpg" alt="Proponowane danie" class="slide__img" />
            <h2 class="slide__dishName">Nazwa dania</h2>
          </div>
          <div class="slide">
            <img src="/public/img/about-plate-2.jpg" alt="Proponowane danie" class="slide__img" />
            <h2 class="slide__dishName">Nazwa dania</h2>
          </div>
          <div class="slide">
            <img src="/public/img/about-plate-3.jpg" alt="Proponowane danie" class="slide__img" />
            <h2 class="slide__dishName">Nazwa dania</h2>
          </div>
          <div class="slide">
            <img src="/public/img/about-plate-1.jpg" alt="Proponowane danie" class="slide__img" />
            <h2 class="slide__dishName">Nazwa dania</h2>
          </div>
          <div class="slide">
            <img src="/public/img/about-plate-2.jpg" alt="Proponowane danie" class="slide__img" />
            <h2 class="slide__dishName">Nazwa dania</h2>
          </div>
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <div id="includedFooter"></div>
    <script src="/public/js/dishPage.js"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    ></script>

    <script type="text/javascript" src="/public/js/slickInitialization.js"></script>
  </body>
</html>
