<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatSmart | Strona główna</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <nav class="nav">
      <div class="nav__logo">
        <img class="nav__logo-img" src="/public/img/logo.svg" alt="Project's logo" />
        <p class="nav__logo-name">EatSmart</p>
      </div>
      <button class="nav__icon"><span class="fas fa-bars"></span></button>
      <ul class="nav__menu">
        <li class="nav__item">
          <a href="/" class="nav__link">Strona główna</a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">O nas</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a href="/recipes" class="nav__link">Przepisy </a>
          <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button>

          <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Śniadania</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Obiady</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Desery</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kolacje</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Wegetariańskie</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kuchnie świata</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="/articles" class="nav__link">Artykuły</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a href="/" class="nav__link">Kalkulatory</a>
          <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button>
          <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="/calculatorBMI" class="nav__link">BMI</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="calculatorBMR" class="nav__link">BMR</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="/contact" class="nav__link">Kontakt</a>
        </li>
      </ul>
    </nav>
    <!-- PAGE -->
    <header class="headerHomePage" style="max-width: 100%; box-sizing: border-box">
      <!-- <div class="slick headerHomePage__slick" style="width: 200px"> -->
      <!-- <div class="slide headerHomePage__slide">
          <img src="/public/img/about-plate-1.jpg" alt="Proponowane danie" class="slide__img" />
        </div>
        <div class="slide headerHomePage__slide">
          <img src="/public/img/about-plate-2.jpg" alt="Proponowane danie" class="slide__img" />
        </div>
        <div class="slide headerHomePage__slide">
          <img src="/public/img/about-plate-3.jpg" alt="Proponowane danie" class="slide__img" />
        </div>
        <div class="slide headerHomePage__slide">
          <img src="/public/img/about-plate-1.jpg" alt="Proponowane danie" class="slide__img" />
        </div>
        <div class="slide headerHomePage__slide">
          <img src="/public/img/about-plate-2.jpg" alt="Proponowane danie" class="slide__img" />
        </div> -->
      <!-- </div> -->
      <h1 class="headerHomePage__title">Jedź mądrze i zdrowo!</h1>
      <h2 class="headerHomePage__underTitle">
        Odkryj wiele pysznych i łatwych w przygotowaniu przepisów kulinarnych.
      </h2>
      <button class="btn btn--white headerHomePage__btn">
        <a href="/public/templates/recipesPage.html" class="headerHomePage__header-link btn__link"
          >Zobacz przepisy</a
        >
      </button>
      <p class="headerHomePage__introduction">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quasi maxime iure at veniam
        ut harum inventore possimus, dolorem aspernatur? Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Natus, animi?
      </p>
      <button class="btn btn--white headerHomePage__btn">
        <a href="/public/templates/about.html" class="headerHomePage__header-link btn__link"
          >Dowiedz się więcej</a
        >
      </button>
    </header>
    <main class="mainHomePage">
      <section class="mainHomePage__latestdishes">
        <!-- <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />

          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div>
        <div class="dishCard mainHomePage__dishCard">
          <img
            src="/public/img/about-plate-1.jpg"
            alt=""
            class="dishCard__img mainHomePage__dishCard-img"
          />
          <button class="favouriteBtn">
            <span class="fas fa-heart favouriteBtn__icon"></span>
          </button>
          <h3 class="dishCard__title mainHomePage__dishCard-title">Nazwa dania</h3>
          <button class="btn btn--orange"><a href="" class="btn__link">Sprawdź</a></button>
        </div> -->
        <button class="btn btn--orange mainHomePage__btn">
          <a class="btn__link" href="">Sprawdź więcej przepisów</a>
        </button>
      </section>
      <section class="mainHomePage__articles">
        <div class="slick mainHomePage__slick" style="width: 200px">
          <div class="slide">
            <img
              src="https://cdn.pixabay.com/photo/2016/12/14/07/11/fit-1905733_960_720.jpg"
              alt="Proponowane danie"
              class="slide__img"
            />
            <h2 class="slide__dishName">Nazwa artykułu</h2>
          </div>
          <div class="slide">
            <img
              src="https://cdn.pixabay.com/photo/2016/06/02/09/47/a-change-in-lifestyle-1430599_960_720.jpg"
              alt="Proponowane danie"
              class="slide__img"
            />
            <h2 class="slide__dishName">Nazwa artykułu</h2>
          </div>
          <div class="slide">
            <img
              src="https://cdn.pixabay.com/photo/2016/09/18/14/21/swimmer-1678307_960_720.jpg"
              alt="Proponowane danie"
              class="slide__img"
            />
            <h2 class="slide__dishName">Nazwa artykułu</h2>
          </div>
          <div class="slide">
            <img
              src="https://cdn.pixabay.com/photo/2016/06/02/09/47/a-change-in-lifestyle-1430599_960_720.jpg"
              alt="Proponowane danie"
              class="slide__img"
            />
            <h2 class="slide__dishName">Nazwa artykułu</h2>
          </div>
          <div class="slide">
            <img
              src="https://cdn.pixabay.com/photo/2016/09/18/14/21/swimmer-1678307_960_720.jpg"
              alt="Proponowane danie"
              class="slide__img"
            />
            <h2 class="slide__dishName">Nazwa artykułu</h2>
          </div>
        </div>
      </section>
      <section class="aboutPartners mainHomePage__aboutPartners">
        <h2 class="aboutPartners__title aboutTitle">Nasi partnerzy</h2>
        <div class="aboutPartenrs__container"></div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__about">
          <div class="footer__logo">
            <img class="nav__logo-img" src="" alt="Project's logo" />
          </div>
          <div class="footer__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perferendis quos aliquam
            illum cumque veritatis tempore illo dolor, atque rem at sunt quidem eum. Inventore
            molestias sapiente repellat deleniti numquam?
          </div>
          <button class="btn btn--white">
            <a href="/about" class="btn__link">Poznaj nas</a>
          </button>
          <div class="footer__social">
            <a href="" class="footer__social-icon"><span class="fab fa-facebook"></span></a>
            <a href="" class="footer__social-icon"><span class="fab fa-instagram-square"></span></a>
          </div>
        </div>
        <div class="footer__seeMore">
          <h3 class="footer__title">Zobacz też</h3>
          <ul class="footer__links">
            <a href="/recipes" class="footer__link">Najlepsze przepisy</a>
            <a href="/articles" class="footer__link">Artykuły o zdrowym odżywianiu</a>
            <a href="" class="footer__link">Kuchnie świata</a
            ><a href="/calculatorBMI" class="footer__link">Oblicz swoje BMI</a
            ><a href="/calculatorBMR" class="footer__link">Kalkulator BMR</a>
          </ul>
        </div>
        <div class="footer__contact">
          <h3 class="footer__title">Kontakt</h3>
          <p class="footer__mail"><span class="fas fa-envelope"></span> mail@gmail.com</p>
          <button class="btn btn--white">
            <a href="" class="btn__link">Napisz do nas</a>
          </button>
          <div class="footer__policy">
            <a href="" class="footer__cookies"
              ><span class="fas fa-cookie-bite"></span>Pliki cookies</a
            >
            <a href="" class="footer__privatePolicy">
              <span class="fas fa-lock"></span>Polityka prywatności
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer__copyrights">
      <p class="footer__copy">
        Copyrights &copy;EatSmart <span id="year">2021</span> | All rights reserved
      </p>
      <p class="footer__make">Designed by Aleksandra Kołoczek, created by Radosław Kołoczek</p>
    </div>
    <button class="goUpBtn">
      <a href="#" class="goUpBtn__link"><span class="fas fa-chevron-up goUpBtn__icon"></span></a>
    </button>

    <script src="/public/js/navigation.js"></script>
    <script src="/public//js/homePage.js" async></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    ></script>
    <script src="/public/js/slickInitialization.js"></script>
    <script src="/public/js/upBtn.js"></script>
  </body>
</html>
