<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Zainspiruj się zdrowymi przepisami - Smakuj Zdrowo" />
    <title>Zainspiruj się zdrowymi przepisami - Smakuj Zdrowo</title>

    <meta
      name="description"
      content="Blog kulinarny ze sprawdzonymi przepisami i zdjęciami. Odkryj nowe, zdrowe dania i ciesz się ich smakiem."
    />

    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
        $('#includedFooter').load('/public/templates/footer.html');
        $('#includedCookiesPopup').load('/public/templates/cookiesPopup.html');
      });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215958829-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-215958829-1');
    </script>

  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <div id="includedNavigation"></div>

    <div id="includedCookiesPopup"></div>
    <!-- PAGE -->
    <header class="headerHomePage">
      <h1 class="headerHomePage__title">
        <img
          class="headerHomePage__carrot"
          src="/public/img/marchew_logo.png"
          alt="Marchewka, logo projektu Smakuj Zdrowo"
        />
        Jedz mądrze i zdrowo!<img
          class="headerHomePage__carrot"
          src="/public/img/marchew_logo.png"
          alt="Marchewka, logo projektu Smakuj Zdrowo"
        />
      </h1>
      <h2 class="headerHomePage__underTitle">
        Odkryj wiele pysznych i łatwych w przygotowaniu przepisów kulinarnych.
      </h2>
      <button class="btn btn--orange headerHomePage__btn">
        <a href="/przepisy" class="headerHomePage__header-link btn__link"
          >Zobacz przepisy</a
        >
      </button>
      <p class="headerHomePage__introduction">
        Ta strona została stworzona z myślą o osobach, które szukają inspiracji kulinarnych i chcą
        się zdrowo odżywiać. Wszystkie dania są robione przez nas oraz zdjęcia posiłków zostały
        wykonane przez naszych kucharzy:) Mamy nadzieję, że znajdziesz tu coś dla siebie!
      </p>
      <button class="btn btn--orange headerHomePage__btn">
        <a href="/o-nas" class="headerHomePage__header-link btn__link"
          >Dowiedz się więcej</a
        >
      </button>
    </header>
    <main class="mainHomePage">
      <section class="mainHomePage__latestdishes">
        <button class="btn btn--orange mainHomePage__btn">
          <a class="btn__link" href="/przepisy">Sprawdź więcej przepisów</a>
        </button>
      </section>
      <section class="mainHomePage__articles"></section>
      <section class="aboutPartners mainHomePage__aboutPartners">
        <h2 class="aboutPartners__title aboutTitle">Nasi partnerzy</h2>
        <div class="aboutPartners__container">
          <img
            src="/public/img/Projekt realizowany w ramach Zwolnieni z Teorii.svg"
            loading="lazy"
            alt="Projekt realizowany w ramach Zwolnieni z Teorii, logo Zwolnienii z Teorii"
            class="aboutPartners__img"
          />
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <div id="includedFooter"></div>
    <button class="goUpBtn">
      <a href="#" class="goUpBtn__link"><span class="fas fa-chevron-up goUpBtn__icon"></span></a>
    </button>

    <script src="/public//js/homePage.js" async></script>
    <script src="/public/js/upBtn.js"></script>
  </body>
</html>
