<!-- RESPONSIVE NAVIGATION -->
<nav class="nav">
  <div class="nav__logo">
    <img class="nav__logo-img" src="/public/img/marchew_logo.png" alt="Project's logo" />
    <p class="nav__logo-name">EatSmart</p>
  </div>
  <button class="nav__icon"><span class="fas fa-bars"></span></button>
  <ul class="nav__menu">
    <li class="nav__item">
      <a href="/" class="nav__link">Strona główna</a>
    </li>
    <li class="nav__item">
      <a href="/about" class="nav__link">O nas</a>
    </li>
    <li class="nav__item nav__item--arrow">
      <a href="/recipes" class="nav__link">Przepisy </a>
    </li>
    <li class="nav__item">
      <a href="/articles" class="nav__link">Artykuły</a>
    </li>
    <li class="nav__item nav__item--arrow">
      <a class="nav__link">Kalkulatory</a>
      <button class="nav__arrow">
        <span class="fas fa-arrow-down"></span>
      </button>
      <ul class="nav__dropdown-menu">
        <li class="nav__item nav__item--drop">
          <a href="/calculatorBMI" class="nav__link">BMI</a>
        </li>
        <li class="nav__item nav__item--drop">
          <a href="/calculatorBMR" class="nav__link">BMR</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<script>
  const navItem = document.querySelectorAll('.nav__item--arrow');
  const navIcon = document.querySelector('.nav__icon');
  const navMenu = document.querySelector('.nav__menu');
  const nav = document.querySelector('.nav');

  let mediaQuery = window.matchMedia('(max-width: 840px)');

  const matchFuntion = function (size) {
    if (size.matches) {
      navItem.forEach((item) =>
        item.addEventListener('click', function (e) {
          let clicked = e.target.closest('.nav__item--arrow');
          clicked.classList.toggle('show');

          if (clicked.classList.contains('show')) {
            clicked.children[1].style.transform = `rotate(180deg)`;
          } else {
            clicked.children[1].style.transform = `rotate(0deg)`;
          }
        })
      );

      navIcon.addEventListener('click', (e) => {
        if (navIcon.classList.contains('open')) {
          navMenu.classList.remove('open');
          nav.style.height = '5rem';
          navIcon.innerHTML = `<span class="fas fa-bars"></span>`;
        } else {
          navMenu.classList.add('open');
          nav.style.height = 'auto';
          navIcon.innerHTML = `<span class="fas fa-times"></span>`;
        }
        navIcon.classList.toggle('open');
      });
    }
  };

  matchFuntion(mediaQuery);
  mediaQuery.addEventListener('change', matchFuntion);
</script>
