<!-- RECIPIES PAGE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Przepisy | EatSmart</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <nav class="nav">
      <div class="nav__logo">
        <img class="nav__logo-img" src="/public/img/logo.svg" alt="Project's logo" />
        <p class="nav__logo-name">EatSmart</p>
      </div>
      <button class="nav__icon"><span class="fas fa-bars"></span></button>
      <ul class="nav__menu">
        <li class="nav__item">
          <a href="/" class="nav__link">Strona główna</a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">O nas</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a href="/recipes" class="nav__link">Przepisy </a>
          <!-- <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button> -->

          <!-- <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Śniadania</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Obiady</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Desery</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kolacje</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Wegetariańskie</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kuchnie świata</a>
            </li>
          </ul> -->
        </li>
        <li class="nav__item">
          <a href="/articles" class="nav__link">Artykuły</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a class="nav__link">Kalkulatory</a>
          <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button>
          <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="/calculatorBMI" class="nav__link">BMI</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="calculatorBMR" class="nav__link">BMR</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="/contact" class="nav__link">Kontakt</a>
        </li>
      </ul>
    </nav>
    <!-- PAGE -->
    <header class="headerRecipies">
      <div class="headerRecipies__content">
        <img
          src="/public/img/recipiesPage-chef.svg"
          alt="Ilustracja przedstawiająca przepisy"
          class="headerRecipies__img"
        />
        <h1 class="headerRecipies__title">Przepisy</h1>
      </div>
      <div class="searchBar headerRecipies__searchBar">
        <input type="text" class="searchBar__input headerRecipies__input" placeholder="Szukaj..." />
        <button class="searchBar__btn">
          <i class="fas fa-search searchBar__icon"></i>
        </button>
      </div>
      <div class="headerRecipies__categoryBox">
        <button class="headerRecipies__categoryBtn" data-category="vegetarian">
          Wegetariańskie
        </button>
        <button class="headerRecipies__categoryBtn" data-category="meet">Mięso</button>
        <button class="headerRecipies__categoryBtn" data-category="lunch">Śniadania</button>
      </div>
    </header>
    <main class="mainRecipies">
      <button class="btn btn__backToAllRecipes" id="backToAllRecipesBtn">
        <a href="/recipes" class="btn__link">Wróć do wszystkich przepisów</a>
      </button>
      <section class="mainRecipies__container"></section>
      <div class="paginationBox">
        <ul class="paginationBox__list"></ul>
      </div>
    </main>
    <script src="/public/js/navigation.js"></script>
    <script src="/public/js/recipesPage.js"></script>
  </body>
</html>
