<!-- RECIPIES PAGE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Przepisy | EatSmart</title>
    <link rel="shortcut icon" href="/public/img/marchew_logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $('#includedNavigation').load('/public/templates/navigation.html');
        $('#includedFooter').load('/public/templates/footer.html');
      });
    </script>
  </head>
  <body>
    <div id="includedNavigation"></div>

    <!-- PAGE -->
    <header class="headerRecipies">
      <div class="headerRecipies__content">
        <img
          src="/public/img/recipiesPage-chef.svg"
          alt="Ilustracja przedstawiająca przepisy"
          class="headerRecipies__img"
        />
        <h1 class="headerRecipies__title">Przepisy</h1>
      </div>
      <div class="searchBar headerRecipies__searchBar">
        <input type="text" class="searchBar__input headerRecipies__input" placeholder="Szukaj..." />
        <button class="searchBar__btn">
          <i class="fas fa-search searchBar__icon"></i>
        </button>
      </div>
      <div class="headerRecipies__categoryBox">
        <button class="headerRecipies__categoryBtn" data-category="vegetarian">
          Wegetariańskie
        </button>
        <button class="headerRecipies__categoryBtn" data-category="meet">Mięso</button>
        <button class="headerRecipies__categoryBtn" data-category="lunch">Śniadania</button>
      </div>
    </header>
    <main class="mainRecipies">
      <button class="btn btn__backToAllRecipes" id="backToAllRecipesBtn">
        <a href="/recipes" class="btn__link">Wróć do wszystkich przepisów</a>
      </button>
      <section class="mainRecipies__container"></section>
      <div class="paginationBox">
        <ul class="paginationBox__list"></ul>
      </div>
    </main>
    <!-- FOOTER -->
    <div id="includedFooter"></div>
    <script src="/public/js/recipesPage.js"></script>
  </body>
</html>
