<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O nas | EatSmart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- RESPONSIVE NAVIGATION -->
    <nav class="nav">
      <div class="nav__logo">
        <img class="nav__logo-img" src="/img/logo.svg" alt="Project's logo" />
        <p class="nav__logo-name">EatSmart</p>
      </div>
      <button class="nav__icon"><span class="fas fa-bars"></span></button>
      <ul class="nav__menu">
        <li class="nav__item">
          <a href="" class="nav__link">Strona główna</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">O nas</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a href="" class="nav__link">Przepisy </a>
          <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button>

          <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Śniadania</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Obiady</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Desery</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kolacje</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Wegetariańskie</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">Kuchnie świata</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Artykuły</a>
        </li>
        <li class="nav__item nav__item--arrow">
          <a href="" class="nav__link">Kalkulatory</a>
          <button class="nav__arrow">
            <span class="fas fa-arrow-down"></span>
          </button>
          <ul class="nav__dropdown-menu">
            <li class="nav__item nav__item--drop">
              <a href="/templates/calculatorBMI.html" class="nav__link">BMI</a>
            </li>
            <li class="nav__item nav__item--drop">
              <a href="" class="nav__link">BMR</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Kontakt</a>
        </li>
      </ul>
    </nav>
    <!-- PAGE ABOUT -->
    <header class="aboutHeader">
      <div class="aboutHeader__content">
        <h1 class="pageHeading">O nas</h1>
        <p class="aboutHeader__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla in fuga distinctio. Earum
          ipsa at laboriosam voluptatum vitae voluptatibus iste perferendis dignissimos. Debitis
          vero cupiditate minus quidem mollitia repudiandae maiores!
        </p>
        <button class="btn btn">
          <a href="#aboutUs" class="btn__link">Cztaj więcej</a>
        </button>
      </div>
      <div class="aboutHeader__images">
        <img
          src="/img/about-plate-1.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--1"
        />
        <img
          src="/img/about-plate-2.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--2"
        />
        <img
          src="/img/about-plate-3.jpg"
          alt="zdrowe jedzenie na talerzu"
          class="aboutHeader__img aboutHeader__img--3"
        />
      </div>
      <button id="aboutHeaderArrowDown" class="arrowDown aboutHeader__arrowDown">
        <span class="fas fa-chevron-down"></span>
      </button>
    </header>
    <main class="aboutMain">
      <section class="aboutDiet" id="aboutDiet">
        <h2 class="aboutDiet__title aboutTitle">Zdrowa dieta zapewnia:</h2>
        <div class="aboutDiet__content">
          <img
            src="/img/about-workout.svg"
            alt="osoby uprawiające sport na świerzym powietrzu"
            class="aboutDiet__img aboutDiet__img--1"
          />
          <p class="aboutDiet__text aboutDiet__text--1">
            <span class="fas fa-check-circle"></span>Lepszą kondycje całego organizmu
          </p>
          <img
            src="/img/about-medicine.svg"
            alt="osoby uprawiające sport na świerzym powietrzu"
            class="aboutDiet__img aboutDiet__img--2"
          />
          <p class="aboutDiet__text aboutDiet__text--2">
            <span class="fas fa-check-circle"></span>
            Ochronę przed nowotworami i innymi chorobami
          </p>
        </div>
      </section>
      <section class="aboutInfo" id="aboutUs">
        <div class="aboutInfo__content">
          <div class="aboutInfo__piece aboutInfo__piece--1">
            <h3 class="aboutInfo__piece-title">Kim jesteśmy?</h3>
            <p class="aboutInfo__piece-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, fugit. Aspernatur
              quidem omnis illo, nam quod commodi quae, corrupti at adipisci magni consectetur
              dignissimos fugiat aliquam nobis dolorum voluptate asperiores? Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Error, fugit. Aspernatur quidem omnis illo, nam
              quod commodi quae, corrupti at adipisci magni consectetur dignissimos fugiat aliquam
              nobis dolorum voluptate asperiores?
            </p>
          </div>
          <div class="aboutInfo__piece aboutInfo__piece--2">
            <h3 class="aboutInfo__piece-title">Jaki jest nasz cel?</h3>
            <p class="aboutInfo__piece-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, fugit. Aspernatur
              quidem omnis illo, nam quod commodi quae, corrupti at adipisci magni consectetur
              dignissimos fugiat aliquam nobis dolorum voluptate asperiores? Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Error, fugit. Aspernatur quidem omnis illo, nam
            </p>
          </div>
          <div class="aboutInfo__shadow"></div>
        </div>
      </section>
      <section class="aboutFaq">
        <h2 class="aboutFaq__title aboutTitle">FAQ</h2>
        <div class="faq">
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
          <div class="faq__accordion">
            <h4 class="faq__question">O co wogóle chodzi?</h4>
            <div class="faq__icon"><i class="fas fa-chevron-down"></i></div>
          </div>
          <div class="faq__panel">
            <p class="faq__answer">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum consequatur
              veniam delectus autem commodi laboriosam, asperiores ipsum quis assumenda! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Temporibus, sint.
            </p>
          </div>
        </div>
      </section>
      <section class="aboutPartners">
        <h2 class="aboutPartners__title aboutTitle">Nasi partnerzy</h2>
        <div class="aboutPartenrs__container"></div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__about">
          <div class="footer__logo">
            <img class="nav__logo-img" src="" alt="Project's logo" />
          </div>
          <div class="footer__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perferendis quos aliquam
            illum cumque veritatis tempore illo dolor, atque rem at sunt quidem eum. Inventore
            molestias sapiente repellat deleniti numquam?
          </div>
          <button class="btn btn--white">
            <a href="#aboutUs" class="btn__link">Poznaj nas</a>
          </button>
          <div class="footer__social">
            <a href="" class="footer__social-icon"><span class="fab fa-facebook"></span></a>
            <a href="" class="footer__social-icon"><span class="fab fa-instagram-square"></span></a>
          </div>
        </div>
        <div class="footer__seeMore">
          <h3 class="footer__title">Zobacz też</h3>
          <ul class="footer__links">
            <a href="" class="footer__link">Najlepsze przepisy</a>
            <a href="" class="footer__link">Artykuły o zdrowym odżywianiu</a>
            <a href="" class="footer__link">Kuchnie świata</a
            ><a href="" class="footer__link">Oblicz swoje BMI</a
            ><a href="" class="footer__link">Kalkulator BMR</a>
          </ul>
        </div>
        <div class="footer__contact">
          <h3 class="footer__title">Kontakt</h3>
          <p class="footer__mail"><span class="fas fa-envelope"></span> mail@gmail.com</p>
          <button class="btn btn--white">
            <a href="" class="btn__link">Napisz do nas</a>
          </button>
          <div class="footer__policy">
            <a href="" class="footer__cookies"
              ><span class="fas fa-cookie-bite"></span>Pliki cookies</a
            >
            <a href="" class="footer__privatePolicy">
              <span class="fas fa-lock"></span>Polityka prywatności
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer__copyrights">
      <p class="footer__copy">
        Copyrights &copy;EatSmart <span id="year">2021</span> | All rights reserved
      </p>
      <p class="footer__make">Designed by Aleksandra Kołoczek, created by Radosław Kołoczek</p>
    </div>
    <button class="goUpBtn">
      <a href="#" class="goUpBtn__link"><span class="fas fa-chevron-up goUpBtn__icon"></span></a>
    </button>
    <script src="/navigation.js"></script>
    <script src="/about.js"></script>
  </body>
</html>
