<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatSmart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="calculatorWrapper">
      <form class="calculatorBMI">
        <label for="weight" class="calculatorBMI__label">Masa(kg)</label>
        <input
          type="number"
          class="calculatorBMI__input"
          id="weight"
          required
        />
        <label for="height" class="calculatorBMI__label">Wzrost(cm)</label>
        <input
          type="number"
          class="calculatorBMI__input"
          id="height"
          required
        />
        <input type="submit" class="calculatorBMI__submit" value="Oblicz" />
      </form>
    </div>

    <script src="/calculatorBMI.js"></script>
  </body>
</html>
